venv/
DataServer/dev.sqlite3
variables.env
.env
DataServer/DataServer/config.py
DataServer/DataServer/env.py
DataServer/DataServer/__pycache__/
docker-share/
frontend-vue/.env.development
frontend-vue/.env.production
.gitignore
